<!-- start Simple Custom CSS and JS -->
<style type="text/css">
//testimonial
.testimonial-carousel .testimonial-item {
	padding: 40px;
	border: 1px solid #FFFFFF1F;
	border-radius: 16px;
}
.testimonial-rating i.fa.fa-star {
    margin-right: 5px;
}
.testimonial-rating, .testimonial-feedback, .testimonial-carousel-nav {
    text-align: center;
}
.testimonial-carousel-prev,
.testimonial-carousel-next {
    background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 100%;
    cursor: pointer;
    font-size: 6.5px;
    padding: 2px;
    color: #575757;
	margin: 5px;
}
/* .services-wrapper, .elementor-shortcode {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
.services {
	padding: 10px;
}
.services a {
	text-decoration: underline;
}
/* .insight-wrapper {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */
.sub-title p {
    display: inline-block;
    background: linear-gradient(to right, #4B0082, #8A2BE2, #E6E6FA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.main-sec1 .sub-title .elementor-widget-container, .countdown-sec .sub-title .elementor-widget-container, .testimonial .sub-title .elementor-widget-container {
	text-align: center;
}
a.elementor-button.elementor-button-link.elementor-size-sm {
    background: linear-gradient(to top, #4B0082 0%, #8A2BE2 50%, #E6E6FA 120%);
}</style>
<!-- end Simple Custom CSS and JS -->
