<!-- start Simple Custom CSS and JS -->
<style type="text/css">
//testimonial
.testimonial-carousel .testimonial-item {
	padding: 40px;
	border: 1px solid #FFFFFF1F;
	border-radius: 16px;
}
.testimonial-rating i.fa.fa-star {
    margin-right: 5px;
}
.testimonial-rating, .testimonial-feedback, .testimonial-carousel-nav {
    text-align: center;
}
.testimonial-carousel-prev,
.testimonial-carousel-next {
    background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 100%;
    cursor: pointer;
    font-size: 6.5px;
    padding: 2px;
    color: #575757;
	margin: 5px;
}
.services-wrapper, .elementor-shortcode {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.services {
	padding: 10px;
}
.services a {
	text-decoration: underline;
}</style>
<!-- end Simple Custom CSS and JS -->
